ckpt
setenv
weights
*~
*.pyc
dump_imgs_train
tb
__pycache__/
.idea/
build/
*.egg-info/
dist/
*.py[cod]
*.swp
*.o
*.so
.torch
.DS_Store
logs/*
.ipynb_checkpoints/*
comma10k/*
comma10k_kitti/*
comma10k_backup/*
images/*
*.pth